.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
    padding: 0px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 0px solid #ddd;
}
.fixed-table-container {
    border: 0px solid #dddddd;
}
.bootstrap-table .table {
    border-bottom: 0px solid #dddddd; 
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
}
.task_time{
	float: right;
	font-size: 12px;
}
.head{
	position:fixed; 
    top:0; 
    left:0; 
    z-index:99; 
	height: 50px;
	width: 100%;
 	background: #f4f4f4;
}
.head p{
	font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
}
.head p img{
    height: 18px;
    margin-top: -3px;
}
#table{
	margin-top: 0!important;
}
.tasks{
	margin: 30px 0;
}
body{
	overflow: hidden;
}

.task {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* height: 35px; */
}

.task_title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  width: 78%;
  /* float: left; */
}

.task_num {
  /* margin-top: 5px; */
  font-size: 12px;
  color: #666;
  display: inline-block;
  width: 20%;
  /* float: right; */
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}