body,html{
	height: 100%;
	width: 100%;
	background: #f4f4f4;
	overflow: hidden;
}
#childPage,
#childPage2{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #fff;
}
.head{
	position:fixed; 
    top:0; 
    left:0; 
    z-index:99; 
	height: 50px;
	width: 100%;
	background: #fff;
	border-bottom: 4px solid #f4f4f4;
}
.container{
	margin-top: 50px;
}
#article1{
	padding-left: 6px;
    padding-right: 8px;
}
/*.head span{
	line-height: 50px;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 5px;
}*/
.head_logo{
    float: left;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #157EFB;
    letter-spacing: 3px;
}
.head_menu{
    float: left;
    height: 30px;
    width: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    background: #999;
    margin-top: 10px;
    border-radius: 30px;
    margin-left: 5px;
    color: #fff;
}
.active{
	background: #157efb;
}
.head_liuyan{
	float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin: 5px;
    background-image: url(diss.png);
    background-repeat: no-repeat;
    background-size: 70% 75%;
    background-position-y: 5px;
    background-position-x: 5px;
}
.head_about{
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin: 5px;
    background-image: url(about.png);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position-y: 6px;
    background-position-x: 5px;
}
th{
	display: none;
}
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
    padding: 0px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 0px solid #ddd;
}
.fixed-table-container {
    border: 0px solid #dddddd;
}
.bootstrap-table .table {
    border-bottom: 0px solid #dddddd; 
}
.task{
	    letter-spacing: 3px;
	    text-align: center;
	    float: left;
	    width: 45%;
	    height: 100px;
	    line-height: 100px;
	    margin: 2.5%;
	    font-weight: bold;
	/* text-align: left; */
    /* border: 1px solid #ddd; */
    /* padding: 10px; */
    /* margin-bottom: 20px; */
    /* width: 95%; */
    border-radius: 10px;
    border-top: 6px solid #f4f4f4;
    background: #fff;
    /* box-shadow: darkgrey 5px 5px 10px 2px; */
}
.task_title{
	font-size: 20px;
}
.task_left{
	float: left;
	height: 100%;
	width: 56px;
}
.task_left img{
	height: 100%;
	width: 100%;
}
.task_right{
	float: left;
	height: 100%;
	width: calc( 100% - 100px );
	padding-left: 10px;
}
.dissTaskIn{
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 230px;
    background: #ffffff;
    border-top: 4px solid #f4f4f4;
}
.dissTaskIn p{
	text-align: center;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #999;
}
.dissTaskInContent{
	text-align: center;
}
.dissTaskInContent textarea{
	margin: 0 auto;
	width: 90%;
	height: 120px;
	resize: none;
	text-align: left;
	border: 2px solid #ddd;
	border-radius: 15px;
	outline: none;
}
.dissTaskInFloor{
	text-align: center;
	margin-top: 10px;
}
.dissTaskInFloor button{
	margin: 0 auto;
	width: 90%;
	height: 40px;
	outline: none;
}
.dissTaskContent{
	width: 100%;
	margin-top: 240px;
}
.dissTaskContent div {
    background: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}
.dissTaskContent p{
	word-break:break-all;
	width: 100%;
	margin-bottom: 5px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
.footer{
	position:fixed; 
    bottom:0; 
    left:0; 
    z-index:99; 
	height: 50px;
	width: 100%;
	background: #fff;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-success {
    color: #fff;
    background-color: #157efb;
    border-color: #157efb;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #157efb;
    border-color: #157efb;
}
.footer_d{
	float: left;
    width: 33.3%;
    text-align: center;
    border-top: 4px solid #f4f4f4;
}
.footer_d img{
	width: 20px;
	margin-top: 5px;
	/*line-height: 50px;
    font-size: 16px;*/
}
.footer_d p{
	font-size: 16px;
	margin-top: 1px;
}
.f_active{
	color: #157efb;
}
.head0,.head1,.head2{
	width: 100%;
	height: 100%;
}
.head1,.head2{
	display: none;
}
.head0_d{
	float: left;
	width: 33.33%;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
.head1_d{
	float: left;
	width: 100%;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
.head2_d{
	float: left;
	width: 33.33%;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
.d_active{
	font-weight: bold;
	font-size: 18px;
}
.homed,.aboutd{
	display: none;
	text-align: center;
}
.home1_1{
	width: 100%;
}

/*#myCarousel{
	height: 100%;
}*/
#article0{
	padding-left: 0;
	padding-right: 0;
}
.home1_1{
	padding: 10px;
	height: auto;
	width: 100%;
	background: #fff;
	border-top:8px solid #f4f4f4;
}
.home1_2{
	padding: 10px;
	height: 240px;
	width: 100%;
	background: #fff;
	border-top:8px solid #f4f4f4;
}
.home1_3{
	padding: 10px;
	height: 240px;
	width: 100%;
	background: #fff;
	border-top:8px solid #f4f4f4;
}
.home1_4{
	padding: 10px;
	height: 130px;
	width: 100%;
	background: #fff;
	border-top:8px solid #f4f4f4;
}
.home1{
	padding: 8px;
}
.carousel-indicators {
    bottom: 0px;
}
.home1_1_head,
.home1_2_head,
.home1_3_head,
.home1_4_head{
	font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: bold;
}
.home1_1_head span,
.home1_2_head span,
.home1_3_head span,
.home1_4_head span{
	font-size: 20px;
    font-weight: bold;
    color: #157efb;
    margin-right: 5px;
}
.home1_2d{
	width: 33.3%;
    float: left;
    height: 150px;
    padding: 8px;
}
.home1_2d img{
	width: 100%;
	height: 100%;
}
.home1_2d p{
	margin: 0;
	margin-top: 8px;
	font-size: 16px;
}
.home1_3d{
	text-align: left;
	font-size: 16px;
	padding: 5px 8px;
	margin-top: 3px;
	
}
.home1_3d span:nth-child(3){
	float: right;
}
.home1_3d span:nth-child(1){
	background: #999;
    padding: 2px 6px;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
}
.home1_3 .home1_3d:nth-child(1) span:nth-child(1){
	background: red;
}
.home1_3 .home1_3d:nth-child(2) span:nth-child(1){
	background: red;
}
.home1_3 .home1_3d:nth-child(3) span:nth-child(1){
	background: red;
}
@font-face {
	font-family: Vox-Regular2;
	src: url(VOX_WIDE_BOLD.woff);
}
.home1_4d{
	text-align: left;
	padding-left: 8px;
}
.home1_4d span:nth-child(1){
	font-size: 16px;
    
}
.home1_4d span:nth-child(2){
    font-size: 18px;
    color: #157efb;
    font-family: Vox-Regular2;
}

#article2{
	padding-right: 6px;
	padding-left: 4px;
}
.about1{
	background: #fff;
}
.about1_1{
	border-top: 4px solid #f4f4f4;
	padding-top: 30px;
	padding-bottom: 20px;
}
.about1_2{
	background: #fff;
	font-size: 18px;
	text-indent:30px;
	line-height: 35px;
	text-align: left;
	padding: 15px;
}
.about1_3{
	padding: 15px;
	text-align: left;
	font-size: 15px;
}
.about1_4{
	height: 350px;
}
.noContent{
	font-size: 16px;
}
.home1_1_content{
	text-align: left;
}
.home1_1_content .dd{
	
}
.home1_1_content .zw{
	margin-top: 20px;
	font-weight: bold;
}
.home1_1_content .ly{
	text-align: right;
	font-weight: bold;
}
.home1_1_content .sy{
	text-indent: 2em;
	margin-top: 10px;
	color: #999;
	/* color: #fff; */
}
.home1_1_content .dk{
	margin-top: 15px;
	text-align: center;
	color: #157EFB;
	letter-spacing: 1px;
}